<form class="searchbox">
  <h2 class="title" *ngIf="title">{{ title || '' }}</h2>
  <div class="row">
    <div class="col col-md-8">
      <div class="form-group">
        <label for="keyword">Palavra-chave</label>
        <input type="text" class="form-control" id="keyword" placeholder="1.4, 8V, flex, turbo, automático..." [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="col col-md-4">
      <button class="btn btn-block btn-danger btn-lg" (click)="doSearch()">{{ buttonText }}</button>
    </div>
  </div>
</form>
