<app-internal-menu></app-internal-menu>


<app-signuptimeline step="5" title="Parabéns o seu projeto foi aprovado e você pode acompanhar o seu financiamento por aqui."></app-signuptimeline>

<section class="searchbox">
  <div class="container">


    <div class="mbottom">
      <div class="avaliador">
        <div class="row">
          <div class="col-md-2">
            <img class="logo img-responsive" src="assets/logos/ideia-solar.png" alt="Ideia solar">
          </div>
          <div class="col-md-7">
            <h4 class="title"> Ideia solar - Soluções elétricas integradas</h4>
            <p class="address"> Sala 110, Av. Dom Pedro I, 1785 - Jd Belmar, Guarujá - SP, 11440-002</p>
            <p> E-mail: contato@ideiasolar.com.br</p>
            <p> Tel: (31) 3395-8268 / (31) 98775-5457</p>
          </div>
        </div>
        <div class="arquivo">
          <h4>Arquivo do projeto</h4>
          <p class="text-danger">
            O projeto ainda não foi enviado pelo integrador
          </p>
        </div>
        <div class="faturas">
          <div class="row">
            <div class="col-md-6">
              <h4>Próximas faturas</h4>
              <table class="table table-striped">
                <tr>
                  <td>01/2018</td>
                  <td>R$ 180</td>
                  <td>Pendente</td>
                </tr>
                <tr>
                  <td>01/2018</td>
                  <td>R$ 180</td>
                  <td>Pendente</td>
                </tr>
                <tr>
                  <td>01/2018</td>
                  <td>R$ 180</td>
                  <td>Pendente</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <h4>Faturas passadas</h4>
              <table class="table table-striped">
                <tr>
                  <td>01/2018</td>
                  <td>R$ 180</td>
                  <td>Pago</td>
                </tr>
                <tr>
                  <td>01/2018</td>
                  <td>R$ 180</td>
                  <td>Pago</td>
                </tr>
                <tr>
                  <td>01/2018</td>
                  <td>R$ 180</td>
                  <td>Pago</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
