<app-internal-menu></app-internal-menu>


<app-signuptimeline step="3" title="Acompanhe o seu projeto, assim que o integrador anexar todos os dados do projeto ele será enviado para análise do BDMG."></app-signuptimeline>

<section class="searchbox">
  <div class="container">


    <div class="mbottom">
      <div class="avaliador">
        <div class="row">
          <div class="col-md-2">
            <img class="logo img-responsive" src="assets/logos/ideia-solar.png" alt="Ideia solar">
          </div>
          <div class="col-md-7">
            <h4 class="title"> Ideia solar - Soluções elétricas integradas</h4>
            <p class="address"> Sala 110, Av. Dom Pedro I, 1785 - Jd Belmar, Guarujá - SP, 11440-002</p>
            <p> E-mail: contato@ideiasolar.com.br</p>
            <p> Tel: (31) 3395-8268 / (31) 98775-5457</p>
          </div>
          <div class="col-md-3">
            <div class="star-rating text-center">
              <span class="fa fa-star" data-rating="1"></span>
              <span class="fa fa-star" data-rating="2"></span>
              <span class="fa fa-star" data-rating="3"></span>
              <span class="fa fa-star" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever1" class="rating-value" value="2.56">
            </div>
            <div class="text-center">
              <small>15 instalações realizadas com o apoio do BDMG</small>
            </div>
            <button class="btn btn-danger btn-block">Cancelar</button>
          </div>
        </div>
        <div class="financiamento">
          <h4>Financiamento</h4>
          <div class="row">
            <div class="col-md-4">
              <h5>Consumo mensal:</h5>
              <p>1000 kWh</p>
            </div>
            <div class="col-md-4">
              <h5>Taxa do financiamento:</h5>
              <p>16%</p>
            </div>
            <div class="col-md-4">
              <h5>Valor da parcela:</h5>
              <p>R$ 160,00</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h5>Tempo do financiamento:</h5>
              <p>60 meses</p>
            </div>
            <div class="col-md-4">
              <h5>Valor estimado do projeto:</h5>
              <p>R$ 25.000,00</p>
            </div>
            <div class="col-md-4">
              <h5>Entrada:</h5>
              <p>R$ 2.500,00 </p>
            </div>
          </div>
        </div>
        <div class="visita">
          <h4>Visita do integrador</h4>
          <div class="row"> 
            <div class="col-md-6">
              <h5> Visita realizada no dia:</h5>
              <p> 11/12/2017 à partir das 17:00 até as 21:00 </p>
              <h5> Status: </h5>
              <p>
                <span class="text-success">Realizada</span>
              </p>
            </div>
            <div class="col-md-6">
              <h5> Valor do Projeto </h5>
              <p class="valor">R$ 25.000,00 </p>
            </div>
          </div>
        </div>
        <div class="fotos">
          <div class="row">
            <div class="col-md-6">
              <h5> Fotos: </h5>
              <div class="row">
                <div class="col-xs-4">
                  <img class="img-responsive" src="assets/placas/1.jpg" alt="">
                </div>
                <div class="col-xs-4">
                  <img class="img-responsive" src="assets/placas/2.jpg" alt="">
                </div>
                <div class="col-xs-4">
                  <img class="img-responsive" src="assets/placas/3.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5> Arquivo do projeto: </h5>
              <p>
                 <span class="text-danger">  O projeto ainda não foi enviado pelo integrador. </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
