<app-internal-menu></app-internal-menu>


<app-signuptimeline step="4" title="Projeto em análise. Aguarde a aprovação de crédito."></app-signuptimeline>

<section class="searchbox">
  <div class="container">


    <div class="mbottom">
      <div class="avaliador">
        <div class="row">
          <div class="col-md-2">
            <img class="logo img-responsive" src="assets/logos/ideia-solar.png" alt="Ideia solar">
          </div>
          <div class="col-md-7">
            <h4 class="title"> Ideia solar - Soluções elétricas integradas</h4>
            <p class="address"> Sala 110, Av. Dom Pedro I, 1785 - Jd Belmar, Guarujá - SP, 11440-002</p>
            <p> E-mail: contato@ideiasolar.com.br</p>
            <p> Tel: (31) 3395-8268 / (31) 98775-5457</p>
          </div>
        </div>
        <div class="arquivo">
          <h4>Em análise</h4>
          <p>
            O seu projeto já foi submetido ao banco pelo integrador. Aguarde a sua análise de crédito pelo BDMG.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
