@import '../../../assets/bootstrap-sass/_variables';


.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 10px 0 20px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
   position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {

}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-top: 10px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 60px;
  display: block;
  background: $brand-primary;
  left: 50%;
  font-size: 25px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
}


 .bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  top: 25px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  position: relative;
  width:0px;
  box-shadow: none;
  background: $brand-primary;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width:100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width:50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width:0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child  > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child  > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled .bs-wizard-dot{
  pointer-events: none;
}



.custom-message {
  background-color: #bbe0f2;
  padding: 10px 0px;
}
