<div class="bg-info timeline container-fluid">
    <div class="row bs-wizard" style="border-bottom:0;">
      <div class="col-xs-offset-1 col-xs-2 bs-wizard-step" [class.complete]="step > 1" [class.active]="step === 1" [class.disabled]="step < 1">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
          <span class="glyphicon glyphicon-user"></span>
        </a>
        <div class="text-center bs-wizard-stepnum text-primary">Registro</div>
        <p *ngIf="showDetail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, nam aperiam deserunt animi optio amet itaque tempore reiciendis veritatis beatae quia porro iste provident deleniti non voluptatum esse neque illo!</p>
      </div>

      <div class="col-xs-2 bs-wizard-step" [class.complete]="step > 2" [class.active]="step === 2" [class.disabled]="step < 2">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <div class="text-center bs-wizard-stepnum text-primary">Integrador</div>
        <p *ngIf="showDetail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, nam aperiam deserunt animi optio amet itaque tempore reiciendis veritatis beatae quia porro iste provident deleniti non voluptatum esse neque illo!</p>
      </div>

      <div class="col-xs-2 bs-wizard-step" [class.complete]="step > 3" [class.active]="step === 3" [class.disabled]="step < 3">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <div class="text-center bs-wizard-stepnum text-primary">Projeto</div>
        <p *ngIf="showDetail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, nam aperiam deserunt animi optio amet itaque tempore reiciendis veritatis beatae quia porro iste provident deleniti non voluptatum esse neque illo!</p>
      </div>

      <div class="col-xs-2 bs-wizard-step" [class.complete]="step > 4" [class.active]="step === 4" [class.disabled]="step < 4">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
        <div class="text-center bs-wizard-stepnum text-primary">Análise</div>
        <p *ngIf="showDetail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, nam aperiam deserunt animi optio amet itaque tempore reiciendis veritatis beatae quia porro iste provident deleniti non voluptatum esse neque illo!</p>
      </div>

      <div class="col-xs-2 bs-wizard-step" [class.complete]="step > 4" [class.active]="step === 4" [class.disabled]="step < 4">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
        <div class="text-center bs-wizard-stepnum text-primary">Aprovação</div>
        <p *ngIf="showDetail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, nam aperiam deserunt animi optio amet itaque tempore reiciendis veritatis beatae quia porro iste provident deleniti non voluptatum esse neque illo!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center" (click)="toggleDetail()">
          Não entendi, me explique melhor
          <i class="fa" [ngClass]="{'fa-arrow-down': !showDetail, 'fa-arrow-up': showDetail}"></i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 custom-message">
        <p class="text-center">
          <b>Encontre o melhor integrador de acordo com o seu gosto e marque uma visita com ele.</b>
        </p>
      </div>
    </div>
  </div>
