#simulation {
  .features-bg {
    background: #2c3a46 !important;
    label, strong {
      color: #fff;
    }
  }
  .info-simulating {
    color: #fff;
    .value-simulation {
      color: #d15d5d;
    }
  }
}

.condicoes-financiamento h3 {
  padding-top: 10px;
  padding-bottom: 30px;
}
