<app-menu></app-menu>

<!-- BEGIN INTRO SECTION -->
<section id="intro">
  <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner text-uppercase" role="listbox">
          <!-- First slide -->
          <div class="item carousel-item-one active">
              <div class="container">
                  <h3 class="carousel-position-one animate-delay carousel-title-v1" data-animation="animated fadeInDown">
                      O novo jeito
                  </h3>
                  <p class="carousel-position-two animate-delay carousel-subtitle-v1" data-animation="animated fadeInDown">
                      De consumir energia! <br> Energia Solar financiada pelo <br>Banco de Desenvolvimento de Minas Gerais
                  </p>
                  <a href="#adquira" class="carousel-position-three animate-delay btn-brd-white" data-animation="animated fadeInUp">Adquira Já o Seu</a>
              </div>
          </div>
          <div class="item carousel-item-two">
              <div class="container">
                  <h3 class="carousel-position-one animate-delay carousel-title-v2" data-animation="animated fadeInDown">
                     Para os restaurantes
                  </h3>
                  <p class="carousel-position-two animate-delay carousel-subtitle-v2" data-animation="animated fadeInDown">
                     Que utilizam fogão elétrico, <br>forno, geladeira e freezer <br> para fazer uma deliciosa comida <br>
                     e possuem alto consumo de energia elétrica <br>
                  </p>
                  <a href="#adquira" class="caroulsel-position-four  animate-delay btn-brd-white" data-animation="animated fadeInUp">Adquira Já o Seu</a>
              </div>
          </div>
            <div class="item carousel-item-three">
              <div class="container">
                  <h3 class="carousel-position-one animate-delay carousel-title-v3" data-animation="animated fadeInDown">
                      Para as padarias
                  </h3>
                  <p class="carousel-position-two animate-delay carousel-subtitle-v3" data-animation="animated fadeInDown">
                      Que utilizam fornos elétricos para cozinhar<br> deliciosos pães e refrigerar nosso leite<br> e possuem alto consumo de energia elétrica.
                  </p>
                  <a href="#adquira" class="carousel-position-three animate-delay btn-brd-white" data-animation="animated fadeInUp">Adquira Já o Seu</a>
              </div>
          </div>  <div class="item carousel-item-four">
              <div class="container">
                  <h3 class="carousel-position-one animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                      Para qualquer empresário
                  </h3>
                  <p class="carousel-position-two animate-delay carousel-subtitle-v4" data-animation="animated fadeInDown">
                      Que está cansado das altas contas de luz <br> e deseja ainda promover <br>um mundo melhor e sustentável!
                  </p>
                  <a href="#adquira" class="carousel-position-three animate-delay btn-brd-white" data-animation="animated fadeInUp">Adquira Já o seu</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- END INTRO SECTION -->

<!-- ABOUT -->

<!-- BEGIN MAIN LAYOUT -->
<section id="about">
<div class="page-content">
  <!-- SUBSCRIBE BEGIN -->
  <div class="subscribe">
      <div class="container">
          <div class="subscribe-wrap">
              <div class="subscribe-body subscribe-desc md-margin-bottom-30">
                  <h1>A Energia fotovoltaica ou energia solar, é uma energia sustentável, gerada pelo sol. </h1>
                  <p>

                      É uma fonte inesgotável na escala terrestre de tempo, tanto como fonte de calor quanto de luz.

                      Os painéis fotovoltaicos são uma das tecnologias mais duráveis de geração de energia limpa que o homem conhece. Com manutenção mínima, o seu sistema de energia solar pode continuar operando com desempenho máximo durante décadas. Na verdade, muitas instalações solares da década de 1970 ainda estão gerando energia limpa e grátis para seus proprietários até hoje!

                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

      <!-- Services BEGIN -->
      <div class="container service-bg">
          <div class="row">
              <div class="col-sm-4">
                  <div class="services sm-margin-bottom-300">
                      <div class="services-wrap">
                          <div class="service-body">
                              <img src="assets/onepage2/img/widgets/icon1.png" alt="">
                          </div>
                      </div>
                      <h2>A Energia solar é um investimento de longo prazo!</h2>
                      <p>Uma placa solar pode durar no mínimo 25 anos. Com uma garantia de no mínimo 15 anos de
                       <br> Lucratividade</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="services sm-margin-bottom-100">
                      <div class="services-wrap">
                          <div class="service-body">
                              <img src="assets/onepage2/img/widgets/icon2.png" alt="">
                          </div>
                      </div>
                      <h2>O Financiamento é ideal para MPES</h2>
                      <p>As micro e pequenas empresas possuem condições especiais de negócio com foco na expansão sustentável de consumo e produção de<br>energia</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="services">
                      <div class="services-wrap">
                          <div class="service-body">
                              <img src="assets/onepage2/img/widgets/icon3.png" alt="">
                          </div>
                      </div>
                      <h2>Você paga menos!</h2>
                      <p>Você sabia que com o uso de energia solar você pode ter x% de <br> economia?</p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Services END -->
  </section>
  <!-- END ABOUT SECTION -->

  <!-- BEGIN TEAM SECTION -->
  <section id="team">
      <!-- Team BEGIN -->
      <div class="team-bg parallax">
          <div class="container">
              <div class="heading-light">
                  <h2>Você <strong>precisa economizar!</strong></h2>
              </div><!-- //end heading -->

              <div class="row">
                  <div class="col-md-8">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="team-members">
                                  <div class="team-avatar">
                                      <img class="img-responsive" src="assets/onepage2/img/member/member1.png" alt="">
                                  </div>
                                  <div class="team-desc">
                                      <div class="team-details">
                                          <h4>João Gonçalves</h4>
                                          <span>Cozinheiro</span>
                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div class="col-sm-4">
                              <div class="team-members">
                                  <div class="team-avatar">
                                      <img class="img-responsive" src="assets/onepage2/img/member/member2.png" alt="">
                                  </div>
                                  <div class="team-desc">
                                      <div class="team-details">
                                          <h4>Ana Cristina</h4>
                                          <span>CEO Hotéis Melhores Férias</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-sm-4">
                              <div class="team-members">
                                  <div class="team-avatar">
                                      <img class="img-responsive" src="assets/onepage2/img/member/member3.png" alt="">
                                  </div>
                                  <div class="team-desc">
                                      <div class="team-details">
                                          <h4>Manoel Santos</h4>
                                          <span>CEO Produza Já!</span>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div><!-- //end row -->



                      <div class="row">
                          <div class="col-sm-4">
                              <div class="team-members">
                                  <div class="team-avatar">
                                      <img class="img-responsive" src="assets/onepage2/img/member/member4.png" alt="">
                                  </div>
                                  <div class="team-desc">
                                      <div class="team-details">
                                          <h4>Julio Câmara</h4>
                                          <span>CEO Mais Pães</span>
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="team-members">
                                  <div class="team-avatar">
                                      <img class="img-responsive" src="assets/onepage2/img/member/member5.png" alt="">
                                  </div>
                                  <div class="team-desc">
                                      <div class="team-details">
                                          <h4>Alex Santos</h4>
                                          <span>CEO de Academia Estrelar</span>
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="team-members">
                                  <div class="team-avatar">
                                      <img class="img-responsive" src="assets/onepage2/img/member/member6.png" alt="">
                                  </div>
                                  <div class="team-desc">
                                      <div class="team-details">
                                          <h4>Maria Izabel</h4>
                                          <span>CEO da PublicaMais</span>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div><!-- //end row -->
                  </div>
                  <div class="col-md-4">
                      <div class="team-about">
                          <h3>Consumir energia, gerando energia</h3>
                          <p>Você já pensou na possibilidade de receber por gerar energia elétrica?</p>
                          <div class="margin-bottom-40"></div>
                          <h3>Baixo custo de Manutenção</h3>
                          <p>A energia solar ser totalmente renovável e infinita; garantia de abastecimento de eletricidade; redução dos custos com energia; não faz barulho nem polui; a manutenção é mínima e tem baixo custo, considerando a vida útil de um sistema fotovoltaico; é fácil de instalar; pode ser usado em áreas remotas, onde não existe energia elétrica.</p>
                          <div class="margin-bottom-40"></div>
                          <h3>Já consumido inclusive por pessoas físicas</h3>
                          <p>Diego conta que optou pela instalação do sistema solar depois da alta nos preços da energia elétrica tradicional. “Tive um investimento inicial em torno de R$ 15 mil com seis painéis e o inversor. Mas no fim do mês, a minha conta caiu de R$ 130  para cerca de R$ 30”, contabiliza.</p>
                      </div>
                  </div>
              </div><!-- //end row -->
          </div>
      </div>
      <!-- Team END -->
  </section>
  <!-- END TEAM SECTION -->

  <!-- BEGIN FEATURES SECTION -->
  <section id="market">
      <!-- Features BEGIN -->
      <div class="features-bg">
          <div class="container">
              <div class="heading">
                  <h2><strong>Mercado</strong></h2>
              </div><!-- //end heading -->

              <!-- Features -->
              <div class="row margin-bottom-70">
                  <div class="col-md-6 md-margin-bottom-70">
                      <div class="features">
                          <img src="assets/onepage2/img/widgets/crescimento.png" style="width: 30%; height: 35%;" alt="">
                          <div class="features-in">
                              <h3><a href="#">Crescimento</a></h3>
                              <p>Crescimento previsto de 200% até 2024. </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="features">
                          <img src="assets/onepage2/img/widgets/comercio.png" style="width: 35%; height: 35%;" alt="">
                          <div class="features-in">
                              <h3><a href="#">Você deveria ter energia solar?</a></h3>
                              <p>De acordo com pesquisas de mercado o maior beneficiado por este sistema é o setor comerciário. Hóteis, Padarias, Academia, grandes consumidores de energia elétrica.</p>
                          </div>
                      </div>
                  </div>
              </div><!-- //end row -->
              <div class="row margin-bottom-80">
                  <div class="col-md-6 md-margin-bottom-70">
                      <div class="features">
                          <img src="assets/onepage2/img/widgets/energiasustentavel.png" style="width: 25%;" alt="">
                          <div class="features-in">
                              <h3><a href="#">Desconto de ICMS</a></h3>
                              <p>O Governo do estado de Minas Gerais oferece desconto de ICMS para instação de energia solar além de, em parceria, com CEMIG existe o pagamento pela energia gerada em excesso por sua empresa.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="features">
                          <img src="assets/onepage2/img/widgets/bitcoin.png" style="width: 30%; height: 30%;"  alt="">
                          <div class="features-in">
                              <h3><a href="#">Retorno do Investimento</a></h3>
                              <p>Retorno médio de investimento entre 4 e 5 anos mas a utilização das placas fotovoláticas são por no mínimo 20 anos!</p>
                          </div>
                      </div>
                  </div>
              </div><!-- //end row -->
              <!-- End Features -->

              <p style="text-align: center;"><a href="#adquira" class="btn-brd-danger">Adquira já o Seu!</a>
          </div>
      </div>
      <!-- Features END -->
  </section>


  <!-- END FEATURES SECTION -->



<!-- BEGIN MAIN LAYOUT -->
<section id="simulation">
  <div class="features-bg">
      <div class="container">
          <div class="heading">
              <h2><strong>Simulador</strong></h2>
          </div><!-- //end heading -->
          <div class="col-md-6">
              <div class="form">
                  <div class="form-wrap">
                      <div class="form-wrap-group">
                          <select class="form-control" id="select-city">
                              <option value="">Minas Gerais</option>
                          </select>
                          <input type="text" placeholder="Consumo mensal em kWh: " [(ngModel)]="simulatorData.kwp" class="border-top-transparent form-control">
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn-danger btn-md btn-block" (click)="simulate()" [disabled]="simulating">{{ simulating ?  'Carregando...' : 'Simular'  }}</button>
          </div>
          <div class="col-md-6 info-simulating" *ngIf="resultSimulation">
            <p>Para atender a sua demanda de eletricidade, o seu sistema gerador de energia solar fotovoltaica precisa ter uma potência de: <strong class="value-simulation">{{ resultSimulation.size }} kWp.</strong> (ou potência instalada)</p>
            <p>O preço médio de um gerador fotovoltaico deste tamanho varia no mercado de: <strong class="value-simulation">{{ resultSimulation.minCost }}</strong> até <strong class="value-simulation">{{ resultSimulation.maxCost }}</strong></p>
            <p>Quantidade de placas fotovoltaicas: <strong class="value-simulation">{{ resultSimulation.plateNumber }}</strong> de 260 Watts</p>
            <p>Produção anual de energia: <strong class="value-simulation">{{ resultSimulation.yearProduction }}</strong>  kWh/ano aproximadamente</p>
            <p>Área mínima ocupada pelo sistema: <strong class="value-simulation">{{ resultSimulation.minimumArea }}</strong>  metros quadrados aprox.</p>
            <p>Peso médio por metro quadrado: <strong class="value-simulation">{{ resultSimulation.averagePound }}</strong> kilograma / metro quadrado</p>
            <p>Geração mensal de energia (em Kwh) <strong class="value-simulation">{{ resultSimulation.average }}</strong> kWh/mês aproximadamente</p>
          </div>
      </div>
      </div>
</section>


<section id="adquira">
    <div class="features-bg">
        <div class="container">
            <div class="heading">
                <h2><strong>Solicite seu sistema fotovoltaico</strong></h2>
            </div><!-- //end heading -->
            <form [formGroup]="formSolicitate" no-validate (ngSubmit)="submitForm()">
            <div class="col-md-6">
                <div class="form">
                    <div class="form-wrap">
                        <div class="form-wrap-group" >
                            <label>E-mail:</label>
                            <input type="email" placeholder="teste@teste.com" class="form-control" formControlName="email">

                            <label>Senha:</label>
                            <input type="password" placeholder="Senha " class="form-control" formControlName="password">

                            <label>Razão Social:</label>
                            <input type="text" placeholder="Razão social.. " class="form-control" formControlName="razaoSocial">

                            <label>CNPJ</label>:
                            <input type="text" placeholder="Ex: 00.0000/0000 " class="form-control" formControlName="cnpj">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <div class="form-wrap">
                        <div class="form-wrap-group" >
                             <label>Faturamento Anual</label>:
                            <input type="number" placeholder="R$ " class="form-control" formControlName="faturamentoAnual">

                            <label>Prazo de Financiamento:</label>
                            <select class="form-control" id="prazo" formControlName="prazo">
                                <option value="60">60 meses</option>
                                <option value="72">72 meses</option>
                                <option value="80">80 meses</option>
                                <option value="92">92 meses</option>
                            </select>

                            <label>Sua empresa é optante pelo simples nacional?</label>
                            <select class="form-control" id="simplesnacional" formControlName="simple">
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                            </select>

                            <label>Consumo Mensal:</label>
                            <input type="text" name="consumomensal" id="consumomensal" placeholder="Consumo mensal em kWh: " class="form-control" formControlName="kwp">
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="!showCondicoes">
                <div class="form-wrap" >
                    <div class="form-wrap-group">

                        <button style="margin-top: 20px !important;" type="button" (click)="simulateAlternative()" class="btn-danger btn-md btn-block">Consultar condições de financiamento</button>
                    </div>
                </div>
              </div>

            <div class="col-md-12" id="condicoes" *ngIf="showCondicoes">
                <div class="form">
                    <div class="form-wrap">
                        <div class="form-wrap-group" >
                           <h3 style="text-align: center;">Condições de Financiamento</h3>
                            <label>Valor mínimo para o projeto: {{ condicoes.minCost  }}</label>
                                <div id="valorminimo"></div>
                            <label>Valor máximo para o projeto: {{ condicoes.maxCost  }}</label>
                                <div id="valormaximo"></div>
                            <label>Valor médio para o projeto: {{ mediaEntreOsDoisValores | currency:'BRL':true }}</label>
                                <div id="valormedio"></div>
                            <label>Taxa de juros mensal: 1.6%</label>
                                <div id="taxames"></div>
                            <label>Taxa de juros anual: 21%</label>
                                <div id="taxaano"></div>
                            <label>Prazo de financiamento: {{ formSolicitate.get('prazo').value }} meses</label>
                                <div id="prazo"></div>
                            <label>Preço Estimado da Conta de Energia: {{ formSolicitate.get('kwp').value * 0.73 | currency:'BRL':true }} </label>
                                <div id="precoestimado"></div>
                            <label>Parcela de Financiamento: {{ pmt | currency:'BRL':true}}</label>
                                <div id="parcelafinanciamento"></div>
                            <label>Valor da entrada: {{ parcelaEntrada | currency:'BRL':true}}</label>
                                <div id="parcelafinanciamento"></div>

                            <div class="infoextra">
                                ** Os valores estimados aqui podem sofrer pequenas alterações no projeto a ser elaborado pelo prestador de serviço
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-wrap" >
                    <div class="form-wrap-group">

                        <button style="margin-top: 20px !important;" type="submit" class="btn-danger btn-md btn-block">Solicitar Financiamento e encontrar o prestador de serviço</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        </div>
</section>

  <!-- BEGIN CONTACT SECTION -->
  <section id="contact">
      <!-- Footer -->
      <div class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="heading-left-light">
                          <h2>Contato</h2>
                          <p>Se tiver alguma dúvida o <strong>BDMG</strong> Te ajuda!</p>
                          <img class="maps" src="assets/onepage2/img/widgets/maps.jpg" alt="Localização">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form">
                          <div class="form-wrap">
                              <div class="form-wrap-group">
                                  <input type="text" placeholder="Seu Nome" class="form-control">
                                  <input type="text" placeholder="Assunto" class="border-top-transparent form-control">
                              </div>
                              <div class="form-wrap-group border-left-transparent">
                                  <input type="text" placeholder="Seu E-mail" class="form-control">
                                  <input type="text" placeholder="Tel" class="efone de Contatoborder-top-transparent form-control">
                              </div>
                          </div>
                      </div>
                      <textarea rows="8" name="message" placeholder="Escreva sua mensagem aqui..." class="border-top-transparent form-control"></textarea>
                      <button type="submit" class="btn-danger btn-md btn-block">Enviar</button>
                  </div>
              </div><!-- //end row -->
          </div>
      </div>
      <!-- End Footer -->

      <app-footer></app-footer>
  </section>
  <!-- END CONTACT SECTION -->
<!-- END MAIN LAYOUT -->
<a href="#intro" class="go2top"><i class="fa fa-arrow-up"></i></a>
