<app-internal-menu></app-internal-menu>


<app-signuptimeline step="2" title="Acompanhe as suas visitas agendadas"></app-signuptimeline>

<section class="searchbox">
  <div class="container">


    <div class="mbottom">
      <div class="avaliador">
        <div class="row">
          <div class="col-md-2">
            <img class="logo img-responsive" src="assets/logos/ideia-solar.png" alt="Ideia solar">
          </div>
          <div class="col-md-7">
            <h4 class="title"> Ideia solar - Soluções elétricas integradas</h4>
            <p class="address"> Sala 110, Av. Dom Pedro I, 1785 - Jd Belmar, Guarujá - SP, 11440-002</p>
            <p> E-mail: contato@ideiasolar.com.br</p>
            <p> Tel: (31) 3395-8268 / (31) 98775-5457</p>
          </div>
          <div class="col-md-3">
            <div class="star-rating text-center">
              <span class="fa fa-star" data-rating="1"></span>
              <span class="fa fa-star" data-rating="2"></span>
              <span class="fa fa-star" data-rating="3"></span>
              <span class="fa fa-star" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever1" class="rating-value" value="2.56">
            </div>
            <div class="text-center">
              <small>15 instalações realizadas com o apoio do BDMG</small>
            </div>
            <button class="btn btn-danger btn-block">Cancelar</button>
          </div>
        </div>
        <div class="agendamento">
          <div class="row">
            <div class="col-md-6">
              <h5>Agendado para:</h5>
              <p>11/12/2017 a partir das 17:00 as 21:00 </p>
              <h5>Status</h5>
              <p><span class="text-warning">Aguardando confirmação do integrador</span></p>
            </div>
            <div class="col-md-6">
              <h5>Fique atento</h5>
              <p>Caso o integrador demore a confirmar ou não compareça na data agendada, cancele o agendamento e inicie o processo com outro parceiro.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
