<form class="searchbox">
  <h2 class="title" *ngIf="title">{{ title }}</h2>
  <div class="row">
    <div class="col col-md-12">
      <div class="form-group">
        <label for="keyword">Nome da empresa</label>
        <input type="text" class="form-control" id="keyword" placeholder="Digite o nome da empresa">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-4">
      <div class="form-group" >
        <label for="manufacturer">Cidade</label>
        <select id="manufacturer" class="form-control">
          <option selected>Belo Horizonte</option>
        </select>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="form-group">
        <label for="model">Avaliação</label>
        <select id="model" class="form-control">
          <option value="" selected>Mais de 4 estrelas</option>
        </select>
      </div>
    </div>
    <div class="col col-md-4">
      <button class="btn btn-block btn-primary btn-lg" (click)="setFiltered()">Encontrar integrador</button>
    </div>
  </div>
</form>


<div class="mbottom">
  <h3> Avaliadores encontrados: <small> Sua lista retornou os seguintes resultados </small> </h3>
  <div class="avaliador">
    <div class="row">
      <div class="col-xs-2">
        <img class="logo img-responsive" src="assets/logos/ideia-solar.png" alt="Ideia solar">
      </div>
      <div class="col-xs-7">
        <h4 class="title"> Ideia solar - Soluções elétricas integradas</h4>
        <p class="address"> Sala 110, Av. Dom Pedro I, 1785 - Jd Belmar, Guarujá - SP, 11440-002</p>
        <p> E-mail: contato@ideiasolar.com.br</p>
        <p> Tel: (31) 3395-8268 / (31) 98775-5457</p>
      </div>
      <div class="col-xs-3">
        <div class="star-rating text-center">
          <span class="fa fa-star" data-rating="1"></span>
          <span class="fa fa-star" data-rating="2"></span>
          <span class="fa fa-star" data-rating="3"></span>
          <span class="fa fa-star" data-rating="4"></span>
          <span class="fa fa-star-o" data-rating="5"></span>
          <input type="hidden" name="whatever1" class="rating-value" value="2.56">
        </div>
        <div class="text-center">
          <small>15 instalações realizadas com o apoio do BDMG</small>
        </div>
        <button class="btn btn-success btn-block">Agendar</button>
      </div>
    </div>
  </div>
</div>