<form class="searchbox">
  <h2 class="title" *ngIf="title">{{ title }}</h2>
  <div class="row">
    <div class="col col-md-12">
      <div class="form-group">
        <label for="keyword">Nome da empresa</label>
        <input type="text" class="form-control" id="keyword" placeholder="Digite o nome da empresa" [(ngModel)]="filter['key-word']" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-4">
      <div class="form-group" >
        <label for="manufacturer">Cidade</label>
        <select id="manufacturer" class="form-control" [(ngModel)]="filter['id-manufacturer']" [ngModelOptions]="{standalone: true}" (ngModelChange)="getModels($event)">
          <option selected [ngValue]="undefined">Todas</option>
          <option *ngFor="let automaker of automakers?.manufacturer" [value]="automaker.idManufacturer">{{ automaker.title }}</option>
        </select>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="form-group">
        <label for="model">Avaliação</label>
        <select [disabled]="loadingModels" id="model" class="form-control" [(ngModel)]="filter['id-model']" [ngModelOptions]="{standalone: true}">
          <option selected [ngValue]="undefined">{{loadingModels ? 'Buscando modelos ...' : 'Todos'}}</option>
          <option *ngFor="let model of models?.model" [value]="model.idModel" >{{ model.title }}</option>
        </select>
      </div>
    </div>
    <div class="col col-md-4">
      <button class="btn btn-block btn-primary btn-lg" (click)="doSearch()">Encontrar integrador</button>
    </div>
  </div>
</form>
